root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
max_line_length = 120
tab_width = 2
disabled_rules = no-wildcard-imports,import-ordering,comment-spacing

[*.{yml,yaml}]
indent_size = 2

[build.gradle.kts]
max_line_length = off